<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="__PUBLIC__/517/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/517/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/517/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/517/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/517/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/517/js/jquery-1.12.0.min.js"></script>
<script  src="__PUBLIC__/517/js/My97DatePicker/WdatePicker.js"></script>
	<script>
	$("document").ready(function(){		
 		$("#button1").click(function(){
			$.ajax({
				url:"{:U('addxyinfo')}",
			    type:"POST",
		        data:$('#form1').serialize(),
		        success: function(data) {
		           switch(data){
		           		case '0':alert('添加失败');break;
		           		case '2':alert('提交内容不能有空值');break;
		           		case '3':alert('该帐号已存在');break;
		           		default:  alert("添加成功");
			            location.href="{:U('zdyinfo')}?userid="+data;break;
		           }
		        }
			});
		});
	});  
	$("document").ready(function(){
		$("#cityid").change(function(){
			$.post(
				"{:U('returnCoach')}",
				{
					cityid:$("#cityid option:selected").val(),
				},function(data,status){
					data1=eval("("+data+")");
					//循环前先清空
					$("#school").html("");
					$("#coach").html("");
					$("#guider").html("");
					for(i=0;i<data1.school.length;i++){
						$("#school").append("<option value="+data1.school[i].userid+">"+data1.school[i].nickname+"</option>");//在后面追加
					}
					for(i=0;i<data1.coach.length;i++){
						$("#coach").append("<option value="+data1.coach[i].userid+">"+data1.coach[i].nickname+"</option>");//在后面追加
					}
					for(i=0;i<data1.guider.length;i++){
						$("#guider").append("<option value="+data1.guider[i].userid+">"+data1.guider[i].nickname+"</option>");//在后面追加
					}
				});
			});
		//控制修改学员信息标签的样式
		$("input").css("background","#9cc");$("input").css("height",25);$("input").css("width",500);$("#formclassinfo input").css("width",220);
		$("input").css("border",0);
		$("input").focus(function(){
			$(this).css("background","white");	
		});
		$("input").blur(function(){
			$(this).css("background","#9cc");	
		});
		//修改学员信息
		$("#b1").click(function(){
			$.ajax({
				url:"{:U('list_updatestu')}",//  订单控制器里面的方法
			    type:"POST",
		        data:$('#fomestuinfo').serialize(),
		        success: function(data) {
					if(data==1){
						alert('修改成功');
						location.reload();
					}else{
						alert('修改失败');
					}
		        }
			});
		});
		//修改课程信息
		$("#b2").click(function(){
			$.ajax({
				url:"{:U('class_updatestu')}",//  订单控制器里面的方法
			    type:"POST",
		        data:$('#formclassinfo').serialize(),
		        success: function(data) {
					if(data==1){
						alert('修改成功');
						location.reload();
					}else{
						alert('修改失败');
					}
		        }
			});
		});
		//驾校名字文本框根据选择来变化
		//根据驾校的改变去改变课程
		$("#allschool").change(function(){
			$.post(
				"{:U('returnclass')}",
				{
					userid:$("#allschool option:selected").val(),
				},function(data,status){
					data2=eval("("+data+")");
					//循环前先清空
					$("#allclass").html('');$("#alltrain").html('');
					for(i=0;i<data2.trainclass.length;i++){
						id=data2.trainclass[i]['tcid'];
						$("#allclass").append("<option value="+id+">"+data2.trainclass[i].name+"</option>");//在后面追加
				  	}
					for(i=0;i<data2.train.length;i++){
						id=data2.train[i]['id'];
						$("#alltrain").append("<option value="+id+">"+data2.train[i].trname+"</option>");//在后面追加
				  	}
			});
		});
		//根据不同的课程来显示不同的价格
		$("#allclass").change(function(){
			$.post(
				"{:U('returnprice')}",
				{
					listid:$("#allclass option:selected").val(),
				},function(data,status){
					data2=eval("("+data+")");
					//循环前先清空
					//$("#allclass").html('');
					//for(i=0;i<data2.length;i++){
						$("#officialprice").val(data2.officialprice);
						$("#whole517price").val(data2.whole517price);
				  //}
			});
		});
		//根据不同的基地来显示这个驾校不同的教练
		$("#alltrain").change(function(){
			$.post(
				"{:U('returncoach')}",
				{
					 data:$('#alltrain').serialize()+"&schoolid="+$("#allschool option:selected").val(),
				},function(data,status){
					data2=eval("("+data+")");
					//循环前先清空
					$("#allcoach").html('');
					for(i=0;i<data2.length;i++){
						id=data2[i]['userid'];
						$("#allcoach").append("<option value="+id+">"+data2[i].nickname+"</option>");//在后面追加
				  	}
			});
		});
	});
	</script>
<title>订单处理</title>
</head>
<body style="background:#9CC">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单列表 <span class="c-gray en">&gt;</span> 订单处理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="pd-20">
		<div style="width:100%;height:152px;">
				<table style="width:99.99%;height:150px" border='2'>
					<tr>
						<td colspan='8'>　<b>订单状况</b></td>
					</tr>
					<tr>
						<td width="10%" bgcolor='#ebebeb'>　<b>订单号:</b></td>
						<td width="15%"><b>{$listinfo.listid}:</b></td>
						<td width="10%" bgcolor='#ebebeb'>　<b>订单类型:</b></td>
						<td width="15%"><b>{$listinfo['listtype']==0?'在线订单':'人工订单'}:</b></td>
						<td width="10%" bgcolor='#ebebeb'>　<b>订单状态:</b></td>
						<td width="15%"><b>{$vv['state']==0?'待付款':($vv['state']==1?'待确认':($vv['state']==2?'待评价':($vv['state']==3?'已完成':'全部')))}:</b></td>
						<td width="10%" bgcolor='#ebebeb'>　<b>下次回访:</b></td>
						<td width="15%"></td>
					</tr>
					<tr>
						<td width="10%" bgcolor='#ebebeb'>　<b>下单时间:</b></td>
						<td width="15%"><b>{$listinfo.listtime}</b></td>
						<td width="10%" bgcolor='#ebebeb'>　<b>支付方式:</b></td>
						<td width="15%"><b>{$listinfo['payment_type']==1?'支付宝':''}</b></td>
						<td width="10%" bgcolor='#ebebeb'>　<b>支付状态:</b></td>
						<td width="15%"><b></b></td>
						<td width="10%" bgcolor='#ebebeb'>　<b>跟单客服:</b></td>
						<td width="15%"><b></b></td>
					</tr>
					<tr>
						<td colspan='8'>
						<table width="100%" >
							<tr align='center'>
								<td ><button>操作日志</button></td>
								<td><button>打印收据</button></td>
								<td><button>打印快递单</button></td>
								<td><button>发送短信</button></td>
								<td><button>发送短信凭证</button></td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
		</div><br>
		<div>
			<form id="fomestuinfo" action='' method="post">
				<table style="width:99.99%;height:180px" border='2'>
					<tr>
						<td colspan='4'><b>用户信息</b></td>
					</tr>
					<input type="hidden" name="listid" value="{$listinfo['listid']}"/>
					<tr>
						<td width="10%" bgcolor='#ebebeb'>　<b>客户姓名:</b></td>
						<td width="30%"><b>{$nickname}</b></td>
						<td width="10%" bgcolor='#ebebeb'>　<b>客户电话:</b></td>
						<td><b>{$listinfo.phone}</b></td>
					</tr>
					<tr>
						<td width="10%" bgcolor='#ebebeb'>　<b>学员信息:</b></td>
						<td colspan='3'><b><input type="text" name="masname" value="{$listinfo.masname}" style="width:500px;"/></b><b><input type="text" name="phone" value="{$listinfo.phone}"/></b></td>
					</tr>
					<tr>
						<td width="10%" bgcolor='#ebebeb'>　<b>所在位置:</b></td>
						<td colspan='3'><b><input type="text" name="address" value="{$listinfo.address}" style="width:500px;"/></b></td>
					</tr>
					<tr>
						<td width="10%" bgcolor='#ebebeb' >　<b>备注:</b></td>
						<td colspan='3'><b><input type="text" name="remark" value="{$listinfo.remark}" style="width:500px;"/></b></td>
					</tr>
					<tr>
						<td colspan='4'>　　　　　　　　　　<b  class="btn btn-primary radius" id="b1" style="height:25px;line-height:13px"><i class="Hui-iconfont">&#xe632;</i> 修改学员信息</b></td>
					</tr>
				</table>
			</form>
		</div><br />
		
		<div style="width:100%;height:152px;">
		     <form id="formclassinfo">
				<table style="width:99.99%;height:150px" border='2'>
					<tr>
					<input type="hidden" name="listid" value="{$listinfo['listid']}" id="listid"/>
						<td colspan='10'>　<b>意向课程</b></td>
					</tr>
					<tr>
					    <td width="15%" bgcolor='#ebebeb'>　<b>课程名称:</b>
							<select name="allclass" id="allclass" style="width:200px">
									<option value="">请选择</option>
							</select>
						</td>
						<td width="12%"><b><input type="text" name="name" value="{$class.name}" id="name"></b></td>
						<td width="12%" bgcolor='#ebebeb'>　<b>驾校名称:</b>
							<select name="allschool" id="allschool" style="width:100px">
							<option value=" ">请选择</option>
								<volist name="allschools" id="v">
									<option value="{$v.userid}">{$v.nickname}</option>
								</volist>
							</select>
						</td>
						<td width="12%"><b><input type="text" name="objectname" value="{$school['schoolname'].nickname}" id=""></b></td>
						
						<td width="12%" bgcolor='#ebebeb'>　<b>选择基地:</b>
							<select name="alltrain" id="alltrain" style="width:100px">
							<option value=" ">请选择</option>
							</select>
						</td>
						<td width="12%"><b><input type="text" name="trname" value="{$listinfo.trname}"  style="width:300px"></b></td>
						<td width="12%" bgcolor='#ebebeb'>　<b>选择教练:</b>
							<select name="allcoach" id="allcoach" style="width:100px">
								<option value=" ">请选择</option>
							</select>
						</td>
						<td width="12%"><b><input type="text" name="" value="{$school.nickname}" id="objectname" style="width:300px"></b></td>
						
					</tr>
					<tr>
						<td width="15%" bgcolor='#ebebeb'>　<b>负责人/负责人电话:</b></td>
						<td width="12%"><b><input type="text" name="connectteacher" value="{$school['schoolname'].connectteacher}"></b></td>
						<td width="12%" bgcolor='#ebebeb'>　<b>联系人/联系人电话:</b></td>
												<td width="12%"><b><input type="text" name="" value="{$school['schoolname'].connectteacher}"></b></td>
						<td width="12%" bgcolor='#ebebeb'>　<b>门市价:</b></td>
						<td width="12%"><b><input type="text" name="officialprice" value="{$class.officialprice}" id="officialprice" style="width:300px"></b></td>
					    <td width="12%" bgcolor='#ebebeb'>　<b>全包价:</b></td>
						<td width="12%"><b><input type="text" name="whole517price" value="{$class.whole517price}" id="whole517price"></b></td>
					</tr>
					<tr>
						<td colspan='10'>
						<table width="100%" >
							<tr>
								<td >　　　　　　　　　　<b  class="btn btn-primary radius" id="b2" style="height:25px;line-height:13px"><i class="Hui-iconfont">&#xe632;</i> 修改意向课程</b></td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
			</form>
		</div><br>
		<div style="width:100%;height:182px;">
		<table style="width:99.99%;height:180px" border='2'>
			<tr>
				<td colspan='6'>　<b>付款方式</b></td>
			</tr>
			<tr>
				<td width="10%" bgcolor='#ebebeb'>　<b>支付方式:</b></td>
				<td width="20%"><input type="text"></td>
				<td width="10%" bgcolor='#ebebeb'>　<b>支付状态:</b></td>
				<td width="20%"><input type="text"></td>
				<td width="10%" bgcolor='#ebebeb'>　<b>下单价格:</b></td>
				<td width="20%"><input type="text"></td>
			</tr>
			<tr>
				<td width="10%" bgcolor='#ebebeb'>　<b>报名人数:</b></td>
				<td width="20%"><input type="text"></td>
				<td width="10%" bgcolor='#ebebeb'>　<b>报名费:</b></td>
				<td width="20%"><input type="text"></td>
				<td width="10%" bgcolor='#ebebeb'>　<b>报名费小计:</b></td>
				<td width="20%"><input type="text"></td>
			</tr>
			<tr>
				<td width="10%" bgcolor='#ebebeb'>　<b>团报优惠:</b></td>
				<td width="20%"><input type="text"></td>
				<td width="10%" bgcolor='#ebebeb'>　<b>其他优惠:</b></td>
				<td width="20%"><input type="text"></td>
				<td width="10%" bgcolor='#ebebeb'>　<b>优惠小计:</b></td>
				<td width="20%"><input type="text"></td>
			</tr>
			<tr>
				<td bgcolor='#ebebeb'>　<b>应收合计:</b></td>
				<td colspan=5><input type="text"></td>
			</tr>
			<tr>
				<td colspan=6>
					<table>
						<tr>
							<td align='center'><button>修改支付方式</button></td>
							<td align='center'><button>其他优惠</button></td>
							<td align='center'><button>确认收款</button></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</div><br />
		<div style="width:100%;height:122px;">
			<table style="width:99.99%;height:120px" border='2'>
				<tr>
					<td colspan=6>　<b>来源信息:</b></td>
				</tr>
				<tr>
					<td width="10%" bgcolor='#ebebeb'>　<b>来源:</b></td>
					<td width="20%"></td>
					<td width="10%" bgcolor='#ebebeb'>　<b>竞价关键字:</b></td>
					<td width="20%"></td>
					<td width="10%" bgcolor='#ebebeb'>　<b>搜索词:</b></td>
					<td width="20%"></td>
				</tr>
				<tr>
					<td width="10%" bgcolor='#ebebeb'>　<b>Referrer:</b></td>
					<td colspan=3  width="30%"></td>
					<td width="10%" bgcolor='#ebebeb'>　<b>下单站点:</b></td>
					<td></td>
				</tr>
			</table>
		</div><br />
		<div style="width:100%;height:122px;">
			<table style="width:99.99%;height:120px" border='2'>
				<tr>
					<td width='30%'>　<b>添加跟单记录:</b></td>
					<td>　<b>全部跟单记录:</b></td>
				</tr>
				<tr>
					<td><textarea name="" id="" cols="90" rows="10" style="resize: none"></textarea></td>
					<td>
						<!-- 循环跟单记录 -->
					</td>
				</tr>
			</table>
		</div><br /><br /><br /><br /><br />
		<div class="row cl">
			<div class="col-10 col-offset-2">
				<b  class="btn btn-primary radius" id="button1" onclick='myCheck()'><i class="Hui-iconfont">&#xe632;</i> 添加指导员</b>
				<a href="{:U('userList')}"><button class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 返回列表</button></a>
				<button  class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
</div>
</body>
</html>