/*******************************************************************************************************************
*  Author:Harney                                                                           
*  Date: 11.07.2016                                                                                                
*******************************************************************************************************************/


@import url(reset.css);

/* BASE */
html {background: #f2f2f2}
body {color: #727272;font: normal 13px "Helvetice Neue", Arial, Tahoma, Verdana;}
p {line-height: 1.5em;margin-bottom: 15px}
p strong {color: #424242;}
address {font-style: normal;padding-bottom: 15px;}

/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus {color: #ff5a00;outline: 0;}
a:hover {color: #000;text-decoration: underline}

/*******************************************************************************************************************
*  H1 - H4                                                                                                         
*******************************************************************************************************************/
h1, h2, h3, h4 {line-height: 1.2em;margin-bottom: 15px;font-weight: bold}
h1 {font-size: 3.0em;color: #fff;font-weight: normal;} 
h1 strong {font-weight: bold;}
h2 {font-size: 1.1em;color: #737373;margin-bottom: 30px;border-bottom: 1px solid #e5e5e5;padding-bottom: 10px;}
h3 {font-size: 1.4em;color: #424242;text-shadow: 1px 1px 1px #fff;margin-bottom: 10px;}
h4 {font-size: 1.6em;color: #424242;text-shadow: 1px 1px 1px #fff;margin-bottom: 10px;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
header {height: 84px;line-height: 84px;background:#ffffff;position: relative;z-index: 100;} 
header a#logo {display: block;position: absolute;top: 12px;left: 20px;text-transform: uppercase;text-decoration: none;height:50px;}
header a#logo:hover {text-decoration: none;color: #f7f7f7}
header #nav {position: absolute;top: 0;right: 0}
header #nav > strong {display: none;}
header #nav > ul > li {float: left;background: url('../img/nav-sep.png') no-repeat 0 50%;position: relative;}
header #nav > ul > li.parent > a {background: url('../img/nav-more.png') no-repeat 20px 50%;padding-left: 40px;}
header #nav > ul > li > ul {display: none;min-width: 100%;position: absolute;top: 62px;left: 20px;line-height: normal;white-space: nowrap;}
header #nav > ul > li > ul > li {margin-bottom: 1px;}
header #nav > ul > li > ul > li > a {color: #c3c3c3;text-decoration: none;padding: 10px 20px;display: block;background: url('../img/subnav-bg.png');}
header #nav > ul > li > ul > li > a:hover {background: #000;color:#FF5F00;text-decoration: none;}
header #nav > ul > li:first-child {background: none;}
header #nav > ul > li > a {float: left;color: #646464;display: block;height: 84px;text-transform: uppercase;text-decoration: none;font-weight: bold;padding: 0 20px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
header #nav > ul > li.active > a {cursor: pointer;text-decoration: none;} 
header #nav > ul > li > a:hover {color:#FF5F00;text-decoration: none;}

#intro {background: #323232 url('../img/background4.jpg') repeat-x;border-top: 1px solid #FF4F00;border-bottom: 1px solid #FF4F00;position: relative;z-index: 90;}
#intro .inner {padding: 40px 0;background: url('../img/background4.jpg') no-repeat 50% 0;}
.erweima{ display:inline-block;}
.study1{ display:inline-block;}
.study2{ display:inline-block;}
#intro p {color: #ffffff;margin-bottom: 20px;padding-right: 20%;}


/*******************************************************************************************************************
*  FOOTER                                                                                                          
*******************************************************************************************************************/
footer {padding: 30px 0;background: #1a1a1a;font-size: 0.85em;color: #aaaaaa;}
footer p {line-height: 1.9em;}
footer a, footer a:link, footer a:focus {color: #999999;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
footer a:hover {color: #fff;}
footer .socialIcons {padding-top: 7px;}
footer .socialIcons a {display: inline-block;width: 29px;height: 29px;text-indent: -9999px;}
footer .socialIcons a.rss {background: url('../img/small-rss.png') no-repeat;}
footer .socialIcons a.facebook {background: url('../img/small-facebook.png') no-repeat;}
footer .socialIcons a.twitter {background: url('../img/small-twitter.png') no-repeat;}


/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
.wrap {margin: 0 auto;position: relative;max-width: 940px;padding: 0 20px;}
.col {width: 48%;position: relative;margin-bottom: 20px;}
.col h3, .col p {padding-left: 60px;}
.col .icon {position: absolute;top: 0;left: 0;padding: 0;}
.buttonCentered {text-align: center;margin-bottom: 30px;}



@media (max-width: 975px) {
    .wrap {max-width: auto;margin: 0}
    .cols li {max-width: 30%;}
	.cols li.middle {margin: 0 5%;}
	form  fieldset {padding: 15px;}
    form label {display: block;margin-bottom: 10px;}
    form .text {margin: 0;width: 100%;padding-left: 0;padding-right: 0;text-indent: 8px;margin-bottom: 0px;}
    form .button {float: right;} 

}

@media (max-width: 750px) { 
    header nav li a {font-size: 11px;padding: 0 10px}
    .col, .cols li {width: 100%;max-width: 100%;float: none;margin: 0 0 30px !important;}
    .cols li {max-width: 100%;}
	.cols li.middle {margin: 0 0;}

}

@media (max-width: 580px) { 
	header {height: 50px;line-height: 50px;}
	#intro .inner {padding: 30px 0;}
	#intro p {padding-right: 0 !important;}
	h1 {font-size: 2.6em;}
    header a#logo {left: 20px;top:0;}
    header #nav {right: 20px;}
    /*header #nav > strong {display: block;float: right;cursor: pointer;}
    header #nav > strong:hover {color: #fff;}*/
    header #nav > ul {display: none;position: absolute;left: auto;right: 0;top: 80%;line-height: normal;white-space: nowrap;}
    header #nav > ul > li, header #nav > ul > li > ul > li {float: none;margin-bottom: 1px;position: relative;background: none !important;}
	header #nav > ul > li > ul {margin-top: 1px;position: relative !important;display: block !important;top: 0 !important;width: 100% !important;}
	header #nav > ul > li > a:hover {background: #000;color:#FF5F00;text-decoration: none;}
    footer p.floatLeft, footer p.floatRight {float: none !important;}
    footer p.socialIcons {text-align: center;}
    footer p.socialIcons a {margin: 0 5px;}
    .buttonCentered {position: relative;top: -15px;}
	.erweima{ display:none;}
	.study1{ font-size:8px; text-align:center;}
    #pop_up{display:inline-block;}

}







/* iPhone4 */
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
    html {width: 100%}
}



