<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>常见问题</title>
<link href="__PUBLIC__/css/xc.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="xc_layout">
<div class="xc_layout_box">
<h1>1、“我要去学车”是做什么的？</h1>
   <p>
   “我要去学车”是创立于上海的全国性的驾校招生及服务平台，用户只需拨打400-8040-517或登录www.517xueche.com，即可轻松完成驾校咨询、下单、付款等一系列报名工作，目前已经有十几个城市1000余所A级驾校都已经在我们“我要去学车”进行登记，开展招生合作业务，“我要去学车”已经发展成为驾驶培训领域最值得信赖的信息服务平台。
   </p>
<h1>2、为什么选择我们？</h1>
   <h2>待遇一 咨询报名--优惠快捷在517学车网报名学车的学员，均可获的团购价。</h2>

       <p>
           1．网上报名：www.517xueche.com（全年365天×24小时服务)<br/>
           2．电话报名：400-8040-517(全年365天×8小时服务)<br/>
           3．517学车网“课程超市”门店报名：(全年365天×12小时服务)
       </p>
   <h2>待遇二 体检--专门接送</h2>
       <p>报名后24小时内驾校与报名学员预约体检时间，在517学车网报名的学员，均可由驾校工作人员或者教练专门接送到体检点。</p>
   <h2>待遇三 练车--无条件更换教练</h2>
       <p>学员对教练不满意，可以申请更换教练，直至满意为止。这仅仅需要学员给517学车网打一个电话即可。（如：517学车网推荐的虽为品牌驾校和优秀教练，但不可避免的是部分教练普通话不标准，上海口音较重，可能会给一些学员带来困难。）</p>
   <h2>待遇四 接送--就近接送</h2>
       <p>凡在517学车网报名学车的学员均可享受就近接送，内环外部分学员可以享受教练上门接送。</p>
   <h2>待遇五 考试--送“考试秘笈”</h2>
       <p>凡在517学车网报名学车的学员均可获得一份指导性、实践性很强的“考试秘笈”，学员可以了解交规考试、桩考、路考的技巧。</p>
   <h2>待遇六 服务--517学车网帮您解决可能遇见的难题</h2>
       <p>学员若在学车过程中碰到诸如教练额外收取物品、钱财等问题，可直接向517学车网或驾校投诉，可以得到我们提供的更多服务保障。</p>
       
       
 <h1>3、您的满意是我们最重要的考虑</h1>
 <p>
我们致力创造一个优质服务平台，充分保障您的权益，让大家可以安心预订自己喜欢的驾校。<br/>
(1)支付成功，立即进入交规考试排队系统，为您节省约1周等待时间；<br/>
(2)支付成功后24小时内驾校教练与您联系，确认体检安排；<br/>
(3)517学车网全包价若高于驾校总部最低价，双倍退还报名费；<br/>
(4)第三方监督及投诉处理体系，全程保障学员权益；<br/>
(5)全透明价格，学车全程无任何其他费用；<br/>
(6)杜绝索要"红包、请客、保险费"等不正当费用。
</p>
</div>	
</div>
</body>
</html>
