<!DOCTYPE html>
<html>
    <head>
        <title>编辑课时</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__PUBLIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
    </head>
    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：系统管理-》编辑课时</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{:U('price_Manage?id='.$iid.'&t='.$t.'&p='.$p)}">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>
        <form action="#" method="post">
        <div style="font-size: 13px;margin: 10px 5px">
            <table border="1" width="100%" class="table_a">
                <tr>
                <input type="hidden" name='iid' value="{$iid}"/>
                <input type="hidden" name='id' value="{$id}"/>
                 <input type="hidden" name='p' value="{$p}"/>
                 <input type="hidden" name='t' value="{$t}"/>
                 <input type="hidden" name='masterid' value="{$user.userid}"/>
                    <td colspan='2'>{$user.nickname}</td>
                </tr>
               	<tr ><td width="5%">日期</td><td><input type="text" name="weekdays" value="{$price.weekdays}"/>(日期为正常星期天-1，中间以'-'隔开)</td></tr>
               	<tr ><td>学时</td><td><input type="text" name="timebucket" value="{$price.timebucket}"/>(学时=小时x2,中间以'-'隔开)</td></tr>
               	<tr ><td>价格</td><td><input type="text" name="price" value="{$price.price}"/>(元)</td></tr>
               	<tr ><td>驾照类型</td><td><input type="text" name="jtype" value="{$price.jtype}"/></td></tr>
               	<tr ><td>科目</td><td><input type="text" name="subjects" value="{$price.subjects}"/></td></tr>
        		<tr>
        			<td colspan='2'>
        				<input type="submit" value="更新"/>
        			</td>
        		</tr>
        	</table>
        </div>
       </form>
    </body>
</html>